<header class="page-header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About Ribbit</a></li>
		<li><a href="#">Treehouse</a></li>
	</ul>
	<h3>Ribbit</h3>	
</header>

<div>
	<h1>Self-destructing message app</h1>
	<p>Learn how to build this fun little app by signing up for a Treehouse Account toda! We'll teach you how to build both apps from scratch</p>
	<p><a href="#"Get started today!></a></p>
</div>

<div>
	<p>&copy; 2013 Ribbit - By Treehouse Island, Inc.</p>
</div>
